.country{
    width: 340px;
height: 430px;
box-shadow: 2px 2px 4px rgba(161, 161, 161, 0.5);

}
.country:hover{
    cursor: pointer;
}
.country-img{
    width: 340px;
    height: 190px;
}
.countryP{
   font-size: 25px;

}
.darkCountry{
    width: 340px;
height: 430px;
box-shadow: 2px 2px 4px rgba(161, 161, 161, 0.5);
background: rgba(43, 56, 68, 1);

}
.darkCountry:hover{
    cursor: pointer;
}
.country-img{
    width: 340px;
    height: 190px;
}
.countryP{
   font-size: 25px;

}
@media screen and (min-width:1440px){
    .darkCountry{
        width: 340px;
    height: 430px;
    box-shadow: 2px 2px 4px rgba(161, 161, 161, 0.5);
    background: rgba(43, 56, 68, 1);
    
    }
    .darkCountry:hover{
        cursor: pointer;
    }
    .country-img{
        width: 340px;
        height: 190px;
    }
    .countryP{
       font-size: 25px;
    
    }
}