body{
  font-family: "Nunito Sans";
  margin: 0px;
  padding: 0px;
}

.main{
  width: 375px;
height: 100vh;
margin-left: auto;
margin-right: auto;
box-shadow: 2px 2px 4px rgba(197, 197, 197, 0.5);

}
.bodyDark{
  background: rgba(32, 44, 54, 1);
}
.header{
  width: 365px;
height: 80px;
padding: 5px;
display: flex;
align-items: center;
justify-content: space-between;

box-shadow: 2px 2px 4px rgba(197, 197, 197, 0.5);
}
.darkHeader{
  width: 365px;
height: 80px;
padding: 5px;
display: flex;
align-items: center;
justify-content: space-between;
background: rgba(43, 56, 68, 1);
box-shadow: 2px 2px 4px rgba(197, 197, 197, 0.5);
}
.headerP{
  font-family: "Nunito Sans";
font-size: 14px;
font-weight: 800;
line-height: 20px;
text-align: left;

}
.darkmode{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}
.search{
  width: 290px;
height: 48px;



}
.search-div{
  width: 320px;
  margin-left: auto;
  margin-top: 20px;
  margin-right: auto;
}

input:focus {
  outline: 1px solid cyan;
}
input{
  background-image: url('./assets/search.png');
  padding-left: 25px; 
 
  background-size: 16px 16px;
  background-position: 5px center; 
  background-repeat: no-repeat;
}
.region{
  font-size: 15px;
  margin-bottom: 2px;


 width: 120px;

}
.region:hover{
  cursor: pointer;
}
.filter{
  margin-left: 25px;
  margin-top: 20px;
  box-shadow: 2px 2px 4px rgba(194, 194, 194, 0.5);
  padding: 5px;
  width: 120px;
  
  
}
.filter:hover{
  cursor: pointer;
}
.regionFilters{
  box-shadow: 2px 2px 4px rgba(197, 197, 197, 0.5);
  margin-top: 5px;
  width: 130px;
  margin-left: 25px;
  position: absolute;
  color: black;
  z-index: 2;
  background-color: white;
}
input{
  border: 1px solid rgb(190, 190, 190);
}
.darkmode:hover{
  cursor:pointer;
}
.countries-div{
  width: 355px;
height: 650px;

margin-left: auto;
margin-right: auto;
overflow-y: auto;
margin-top: 20px;
overflow-x: hidden;
display: flex;
flex-direction: column;
gap: 30px;

}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #888;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}
a {
  text-decoration: none; 
  color: inherit; 
}
.dark-mode-main{
  color: white;
  background: rgba(32, 44, 54, 1);

  width: 375px;
  height: 100vh;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 4px rgba(197, 197, 197, 0.5);
}
.main{
  padding: 10px;
}
.searchDark{
  width: 290px;
  height: 48px;
  background-color: #555;
  color: white;
}
.darkHeader{
  width: 365px;
height: 80px;
padding: 5px;
display: flex;
align-items: center;
justify-content: space-between;
background: rgba(43, 56, 68, 1);
box-shadow: 2px 2px 4px rgba(197, 197, 197, 0.5);
}
.filterDark{
  margin-left: 25px;
margin-top: 20px;
box-shadow: 2px 2px 4px rgba(194, 194, 194, 0.5);
padding: 5px;
width: 120px;
background: rgba(43, 56, 68, 1);
}
.filterDark:hover{
  cursor: pointer;
}
.darkRegion{
  box-shadow: 2px 2px 4px rgba(197, 197, 197, 0.5);
  margin-top: 5px;
  width: 130px;
  margin-left: 25px;
  position: absolute;
  color: white;
  z-index: 2;
  background: rgba(43, 56, 68, 1);

}
.searchDark{
  width: 290px;
  height: 50px;
  background: rgba(43, 56, 68, 1);

  color: white;
}
@media screen and (min-width:1440px){
  
  .main{
    width: 1440px;
    height:1150px;
  
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 4px rgba(197, 197, 197, 0.5);
  
  }
  .header{
    width: 1440px;
  height: 80px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  box-shadow: 2px 2px 4px rgba(197, 197, 197, 0.5);
  }
  .headerP{
    font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 800;
  line-height: 20px;
  text-align: left;
  
  }
  .darkmode{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
  }
  .search{
    width: 480px;
    height: 56px;
    width: 600px;
    
  
  
  
  }
  .search-div{
    width: 480px;
    width: 600px;

    margin-left: auto;
    margin-top: 20px;
    margin-right: auto;
  }
  
  input:focus {
    outline: 1px solid cyan;
  }
  input{
    background-image: url('./assets/search.png');
    padding-left: 25px; 
   position: relative;
   left: 390px;
   top: 60px;
   
    background-size: 16px 16px;
    background-position: 5px center; 
    background-repeat: no-repeat;
    
  }
  .region{
    font-size: 15px;
    margin-bottom: 2px;
  
  
   width: 120px;
  
  }
  .region:hover{
    cursor: pointer;
  }
  .filter{
    margin-left: 25px;
    margin-top: 20px;
    box-shadow: 2px 2px 4px rgba(194, 194, 194, 0.5);
    padding: 5px;
    width: 120px;
    
    
    
  }
  .filter:hover{
    cursor: pointer;
  }
  .regionFilters{
    box-shadow: 2px 2px 4px rgba(197, 197, 197, 0.5);
    margin-top: 5px;
    width: 130px;
    margin-left: 25px;
    position: absolute;
    color: black;
    z-index: 2;
    background-color: white;
    float: right;
  }
  input{
    border: 1px solid rgb(190, 190, 190);
  }
  .darkmode:hover{
    cursor:pointer;
  }
  .countries-div {
    width: 1440px;
    height:920px;
    margin: 20px auto; 
    overflow-x: auto;
    overflow-y: hidden; 
    display: grid; 
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 1fr); 
    gap: 30px; 
    grid-auto-flow: column;
}



  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  a {
    text-decoration: none; 
    color: inherit;
  }
  .dark-mode-main{
    color: white;
    background: rgba(32, 44, 54, 1);

    width: 1440px;
    height:1132px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 4px rgba(197, 197, 197, 0.5);
  }
  .main{
    padding: 10px;
  }
  .searchDark{
    width: 600px;
    height: 56px;
    background: rgba(43, 56, 68, 1);

    color: white;
  }
  .darkHeader{
    width: 1440px;
  height: 80px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(43, 56, 68, 1);
  box-shadow: 2px 2px 4px rgba(197, 197, 197, 0.5);
  }
  .filterDark{
    margin-left: 25px;
  margin-top: 20px;
  box-shadow: 2px 2px 4px rgba(194, 194, 194, 0.5);
  padding: 5px;
  width: 120px;
  background: rgba(43, 56, 68, 1);
  }
  .filterDark:hover{
    cursor: pointer;
  }
  .darkRegion{
    box-shadow: 2px 2px 4px rgba(197, 197, 197, 0.5);
    margin-top: 5px;
    width: 130px;
    margin-left: 25px;
    position: absolute;
    color: white;
    z-index: 2;
    background: rgba(43, 56, 68, 1);

  }
  .bodyDark{
    background: rgba(32, 44, 54, 1);
  }
  
  
  
}
